<%= render partial: "packages/package" %>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1 class="h3 mb-3 fw-normal">NOW</h1>

        <div class="form-floating">
          <%= f.text_field :staff_code, autofocus: true, autocomplete: "staff_code",placeholder:"社員CD"%>
        </div>
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "current-password",placeholder:"password" %>
        </div>
        <div class="form-check">
          <%= f.submit "ログイン",class:"btn btn-lg btn-secondary" %>
          <div class="info-text-signup">
            <div class="column-right">
                <%= link_to "パスワードを忘れた場合", new_staff_password_path %>
            </div>
          登録がまだの人は<span><%= link_to "こちら", new_staff_registration_path,class:"btn btn-secondary" %></span>
          </div>
        </div>
      <% end %>
  </main>
</body>
